/* General CSS*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Indie Flower, sans-serif;
    background-color: #1D3567;
    color: #ccc;
}