@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Indie Flower, sans-serif;
    background-color: #1D3567;
    color: #ccc;
    height: 100vh;
}

.title-text {
    text-align: center;
    font-size: 3em;
    color: #f9e12f;
}



.options {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.img {
    width: 80%;
    height: 80%;
}

.btn {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    transition: .1s;
}

.btn:active {
    transform: scale(1.3);
}

.btn:hover {
    animation-name: spin;
    animation-duration: 300ms;
    animation-delay: 10ms;
    animation-timing-function: linear;
    animation-iteration-count: 360deg;
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.option {
    border: 10px solid #671d5a;
    margin-right: 1rem;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.play {
    position: absolute;
    left: 45%;
    bottom: 20%;
    height: 40px;
    width: 100px;
    background-color: #291239;
    color: #f9e12f;
    border: 3px solid #ccc;
    border-radius: 20px;
    font-size: 1.25em;
    transition: .2s;
    z-index: 1;
}

.play:hover {
    transform: scale(1.2);
}

.score-box {
    position: absolute;
    bottom: 130px;
    width: 100%;
}

.score-left {
    float: left;
    margin-left: 80px;
    font-size: 2em;
}
.score-right {
    float: right;
    margin-right: 80px;
    font-size: 2em;
}



#score-point-you {
    color: #3cf92f;
    margin-left: .5rem;
}

#score-point-computer {
    color: #f92f3b;
    margin-left: .5rem;
}


.score-text {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

#empty-string {
    position: absolute;
    font-size: 2em;
    margin: 0; 
    padding: 0;
    opacity: 0; 
}

#you-win {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 60px;
    opacity: 0; 
    font-size: 4em;
    color: #3cf92f;
    border: 2px solid #ccc;
    padding: 2rem;
    border-radius: .5rem;
}

#you-loose {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 60px;
    font-size: 4em;
    color: #f92f3b;
    border: 2px solid #ccc;
    padding: 2rem;
    border-radius: .5rem;
}

#draw {
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 60px;
    font-size: 4em;
    color: #12e3eb;
    border: 2px solid #ccc;
    padding: 1rem;
    border-radius: .5rem;
}

.right {
    position: relative;
    float: right; 
    width: 300px; 
    height: 150px;
    border: 2px solid #ccc;
    border-radius: .5rem;
    margin-right: 20px;
    margin-top: 30px;
    opacity: 1;
}

#computer {
    margin-left: 10px;
    margin-top: 10px;
}

#computer-pick {
    text-align: center;
    font-size: 3em;
}

.left {
    position: relative;
    float: left;
    width: 300px;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: .5rem;
    margin-left: 20px;
    margin-top: 30px;
    opacity: 1;
}

#user {
    margin-left: 10px;
    margin-top: 10px;
}

#user-pick {
    text-align: center;
    font-size: 3em;
}


.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    height: 100px;
    background-color: #391236;
    width: 100%;
}

#left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-left: 30px;
}

#right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    flex-flow: row-reverse;
    margin-right: 30px;
}



/* Media querys for mobile version */
@media screen and (max-width: 450px) and (min-width: 320px){

    body {
        min-height: 100vh;
        overflow: hidden;
    }

    #lizard {
        display: flex;
        align-items: center;
        top: 120px;
    }

    #scissors {
        left: 5vw;
    }

    #spock {
        right: 5vw;
    }

    #rock {
        left: 5vw;
    }

    #paper {
        right: 5vw;
    }

    .upper {
        position: absolute;
        top: 2px;
    }

    .lower {
        position: absolute;
        top: 240px;
    }

    .title-text {
        margin-top: 20px;
        font-size: 1.8em;
    }
    

    .score-text {
        font-size: 1em;
        top: 23.5%;
    }

    .score-box {
        width: 100%;
        display: inline-block;
        height: 50px;
        margin-top: 0;
        top: 100px;
    }

    div.score-right {
        font-size: 1.2em;
        position: absolute;
        bottom: 110px;
        margin-top: 40px;
        right: 10px;
    }

    div.score-left {
        font-size: 1.2em;
        height: 40px;
        margin: 0;
        margin-top: 40px;
        position: absolute;
        bottom: 110px;
        left: 10px;

    }

    @media screen and (max-width: 330px) {
        body {
            padding: 0 !important;
            margin: 0 !important;
            box-sizing: border-box;
        }
        .title-text {
            margin-top: 0;
            padding-top: 1rem;
        }

        .option {
            height: 120px;
            width: 120px;
        }
        .lower {
            top: 185px;
        }

        div.right {
        font-size: 1em;
        height: 42.4px;
        width: 90px;
        margin-right: 5px !important;
        margin-top: 41% !important;
        }   

        .score-text #draw {
        font-size: .8em !important;
        padding: .6rem;
        top: 20px;
        left: 2px;
    }



    }

    .score-text #you-win {
        font-size: 1em;
        padding: .6rem;
        top: 20px;
        left: 5px;
    }

    .score-text #you-loose {
        font-size: 1em;
        padding: .6rem;
        top: 20px;
        left: 2px; 
    }

    .score-text #draw {
        font-size: 1em;
        padding: .6rem;
        top: 20px;
        left: 2px;
    }

    .score {
       height: 40px;
       margin-top: 0;
    }

    .play {
        visibility: hidden;
    }
    .left {
        display: none;
    }

    div.right {
        font-size: 1em;
        height: 42.4px;
        width: 100px; 
        
        margin-right: 10px;
        margin-top: 47.5%;
    }   
    #computer {
        visibility: collapse;
        width: 100px;
    }

    .right > #computer-pick {
        font-size: 1.25em;
        width: 100px;
        height: 50px;
        margin-top: -65px;

    }




    .footer {
        margin-top: auto;
        margin-bottom: -20px;
    }


}


/* Media querys for ipad// Middle sized screens */

@media screen and (max-width: 800px) and (min-width: 600px) {

    .title-text {
        margin-top: 30px;
    }

    div.score-right {
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    div.score-left {
        font-size: 2em;
        display: flex;
        align-items: center;
    }

    p.score-text-p {
        margin-top: 110px;
    }

    .score-text {
        margin-top: 150px;
    }

    div.right, div.left {
        margin-top: 50px;
    }

    .options {
        margin-top: 20px;
    }

    .footer {
        margin-bottom: -30px;
    }

}

